{% extends "global/Page.html" %}
{% load otree static %}

{% block custom_content %}


{% block global_styles %}
    <link rel="stylesheet" href="{% static 'common.css' %}">
{% endblock %}


<!-- Event-Listener that displays the "Weiter"-Button only after a radio option is selected  -->
<script>
    document.addEventListener("DOMContentLoaded", function() {

        const popoutQuestion = document.getElementById("popout-question");
        const weiterButton = document.getElementById("weiter-button");
        const radioButtons = document.querySelectorAll("input[name='popout_question_femininity']");

        weiterButton.style.display = "none";

        radioButtons.forEach(function(radio) {
            radio.addEventListener("change", function() {
                weiterButton.style.display = "block";
            });
        });
    });
    
</script>
<!-- Centering text elements-->
<div style="text-align: center; font-size: 18px;">
    Bitte schauen Sie sich diese Person für <b></b>mindestens 3 Sekunden genau an <br> und beantworten Sie dann die Frage. Sobald Sie eine der Antwortmöglichkeiten ausgewählt haben,
    <br> können Sie zur nächsten Seite fortfahren.
</div>
<br>
<br>
    <p style="text-align: center; font-size: 18px;">
        <b>Bitte bewerten Sie, wie <span style="font-weight: bold; color: #800080; text-decoration: underline;">feminin</span> das Gesicht dieser Politikerin auf Sie wirkt.</b></p>

<!-- create image container and store picture  -->
<div style="text-align: center;">
    <img id="politician_fem" width="50%" height="50%" src="{{ image_path_fem }}" />
</div>
<br>
<br>
<!-- Hidden input field for the picture assignment -->
<input id="assigned_femininity_picture" type="hidden" name="assigned_femininity_picture" value="{{ assigned_femininity_picture }}" />

<div style="display: none;">
    {{ formfield "picture_assignment_femininity" }}
</div>

<!-- Radio-Buttons question for femininity-->
<div id="popout-question" style="display: none; text-align: center;">

    <form method="post">

        <div class="rating-container">
            <!-- Left Label -->
            <div class="rating-label left">
                Überhaupt nicht feminin
            </div>
            <div class="radio-group">
                <input type="radio" name="popout_question_femininity" value="1" {% if player.popout_question_femininity == 1 %} checked {% endif %}
                       class="large-radio">
                <input type="radio" name="popout_question_femininity" value="2" {% if player.popout_question_femininity == 2 %} checked {% endif %}
                       class="large-radio">
                <input type="radio" name="popout_question_femininity" value="3" {% if player.popout_question_femininity == 3 %} checked {% endif %}
                       class="large-radio">
                <input type="radio" name="popout_question_femininity" value="4" {% if player.popout_question_femininity == 4 %} checked {% endif %}
                       class="large-radio">
                <input type="radio" name="popout_question_femininity" value="5" {% if player.popout_question_femininity == 5 %} checked {% endif %}
                       class="large-radio">
            </div>
            <!-- Right Label -->
            <div class="rating-label right">
                Sehr feminin
            </div>


{#                    <td style="text-align: left; font-weight: bold; font-size: 16px; line-height: 1.5; margin: 0;">Sehr feminin</td>#}
            <div class="keine-angabe">
                <span style="margin-bottom: 5px; font-weight: bold;">Keine Angabe</span>
                <input type="radio" name="popout_question_femininity" value="-1" {% if player.popout_question_femininity == -1 %} checked {% endif %}
                               class="large-radio">
                </div>
            </div>
        <!-- Fix "Weiter"-Button to the bottom right  -->       
        <div class="form-errors">
            {{ formfield_errors 'popout_question_femininity' }}
            <br>
            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                <button id="weiter-button" class="otree-btn-next btn btn-primary">Weiter</button>
            </div>
        </div>
    </form>
</div>

<!--Show  Radio Buttons after 3 seconds  -->
<script>
    setTimeout(function() {
        document.getElementById("popout-question").style.display = "block";
    }, 2500);
</script>

<!-- Increase size of radio button  -->
<style>
    .large-radio {
        transform: scale(1.5); /* Increase the size of the radio button */
    }
</style>

{% endblock %}
