{% extends "global/Page.html" %}
{% load otree static %}


{% block custom_content %}
<p style="font-size: 18px;"> Vielen Dank für Ihre Bewertung der ersten 10 Bilder!
    <br><br>
    Im zweiten Fragenblock interessiert uns, wie Sie das Aussehen von folgenden Personen bewerten. <br>Besonders, wie <span style="font-weight: bold; color: #800080; text-decoration: underline;">feminin</span>
    Sie die Ihnen gezeigte Person wahrnehmen. Dazu werden Ihnen nun weitere <span style="font-weight: bold; text-decoration: underline;">10 Bilder</span> angezeigt. <br> <br> 
    Bitte nehmen Sie sich auch hier die Zeit, jedes Bild genau zu betrachten, und beantworten Sie die Frage so ehrlich wie möglich. <br>
    Sobald Sie bereit sind klicken Sie bitte auf den <b>"Weiter"</b>-Button.
    </p>

<!-- Continue Button -->
<br> 
<div style="display: flex; justify-content: flex-end; margin-top: 10px;">
    <button class="otree-btn-next btn btn-primary">Weiter</button>
</div>



{% endblock %}
