{% extends "global/Page.html" %}
{% load otree static %}



{% block custom_content %}

    <div style="margin-bottom: 24px;"></div>

    <p>Im Folgenden zeigen wir Ihnen abwechselnd eine Reihe an Posts aus den Sozialen Medien und, aufgrund der Kürze des Posts, anschließend eine Seite mit weiteren Informationen, welche Sie bei Interesse gerne lesen dürfen. Nach den Posts setzen Sie die Umfrage fort.</p>

    <div style="margin-bottom: 24px;"></div>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        Weiter
    </button>

{% endblock %}
