{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}


{% block custom_content %}
<div class="container">

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
        {{formfield 'overall_tone'}}
    </div>

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
        {{formfield 'impact_time'}}
    </div>

    <p>Bitte klicken Sie nun auf den "Weiter"-Button, um fortzufahren.</p>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        Weiter
    </button>
</div>
{% endblock %}